[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "www"]
	path = www
	url = git@github.com:etyloppihacilem/basic_server_pages.git
[submodule "cgi-bin"]
	path = cgi-bin
	url = git@github.com:etyloppihacilem/webserv-cgi-bin.git
[submodule "error_pages"]
	path = error_pages
	url = ./error_pages
