*.o
*.swa
*.swp
.DS_Store
.clangd
.ignore
.vscode
.nfs*
NOT*
Session.vim
header/libgmock.a
header/libgmock_main.a
header/libgtest.a
header/libgtest_main.a
obj
obj/**
webserv
webserv_test
webserv_debug
webserv_sanitize
doc
doc/*
doc.tar.gz
doc.zip
error_pages
error_pages/**
error_pages_ok
error_pages_ok/**
