*.o
*.swa
*.swp
.DS_Store
.clangd
.ignore
.vscode
.nfs*
NOT*
Session.vim
header/libgmock.a
header/libgmock_main.a
header/libgtest.a
header/libgtest_main.a
obj
obj/**
webserv
webserv_test
webserv_debug
webserv_sanitize
doc
doc/*
doc.tar.gz
doc.zip
error_pages_ok
error_pages_ok/**
child.log
python.log
siege-4.1.6
siege-4.1.6/**
siege_call.txt
ubuntu_tester
ubuntu_cgi_tester
Testprogram_*
YoupiBanane
YoupiBanane/**
*.log
temp.test
temp*
www_tester
www_tester/**
etyloppihacilem.com-main
etyloppihacilem.com-main/**
header_too_long.txt
request.txt
header_too_long.txt
request.txt
target_too_large.txt
archives
archives/*
